/* INSERT VARIABLE
USDC COLOR = #2775ca
SOL COLOR = #9945FF */

* {
  box-sizing: border-box;
  /* https://css-tricks.com/snippets/css/system-font-stack/ below: */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.header-wrapper {
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 1000px;
  height: 50px;
  color: white;
  font-size: 1.2rem;
}

.degods {
  fill: white;
  padding: 0 13.85px;
  display: block;
}

.frank {
  display: flex;
  align-items: center;
  padding: 0 13.85px;
  gap: 7px;
}

#frank-pfp {
  height: 36px;
  border-radius: 100%;
  display: block;
}

.if-you {
  width: 280px;
  margin: 120px 0 0 0;
}

#usdc {
  text-decoration: underline;
  text-decoration-color: #2775ca;
  text-underline-position: under;
}

#project-name {
  text-decoration: underline;
  text-decoration-color: #9945ff;
  text-underline-position: under;
}

.you-would-have {
  width: 280px;
}

#dollar {
  text-decoration: underline;
  text-decoration-color: green;
  text-underline-position: under;
}

.equation-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.equal-sign,
.slash-sign {
  font-size: 2.75rem;
}

.equal-sign {
  margin: 0 30px;
}

.price-in-sol,
.price-in-usdc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #9945ff;
}

.price-in-usdc {
  color: green;
}

.facts-container p {
  font-size: 1.15rem;
  margin: 5px 0;
}

.solana-project img {
  width: 150px;
}

button {
  height: 8vh;
  width: 260px;
  background-color: blue;
  color: white;
  border: 0;
  font-size: 1.15rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.donation-link {
  display: none;
  font-size: 1.15rem;
  text-align: center;
}
