/* INSERT VARIABLE
USDC COLOR = #2775ca
SOL COLOR = #9945FF */

body {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.if-you {
    width: 230px;
    margin: 120px 0 0 0;
}

#usdc {
    text-decoration: underline;
    text-decoration-color: #2775ca;
    text-underline-position: under;
}

#project-name {
    text-decoration: underline;
    text-decoration-color: #9945FF;
    text-underline-position: under;
}

.you-would-have {
    width: 230px;
}

#dollar {
    text-decoration: underline;
    text-decoration-color: green;
    text-underline-position: under;
}

.equation-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.equal-sign {
    font-size: 3rem;
    font-weight: bold;
}

.price-in-sol {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #9945FF;
}

.facts-container p {
    font-size: 1.15rem;
    margin: 5px 0;
}

.solana-project img {
    width: 150px;
}

button {
    height: 8vh;
    background-color: blue;
    color: white;
    border: 0;
    font-size: 1.15rem;
    font-weight: 700;
    cursor: pointer;
}

.donation-link {
    font-size: 1.15rem;
}